.teamSection {
    padding: 80px 20px;
    background-color: white;
    font-family: 'Roboto Slab', serif;
}

.heading {
    font-size: 110px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #6c429c, #c74c96); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.subText {
    text-align: center;
    font-size: 50px;
    color: #666;
    margin-bottom: 50px;
}

.teamGrid {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.memberCard {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: box-shadow 0.3s;
}

.memberCard:hover {
    box-shadow: 0 8px 20px rgba(199, 76, 150, 0.15); /* Розовый акцент */
}

.photoPlaceholder {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 3px solid #6c429c; /* Фиолетовая рамка */
}

.memberName {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 5px;
}

.memberRole {
    font-size: 1rem;
    font-weight: 600;
    color: #c74c96; /* Розовый акцент */
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.memberBio {
    font-size: 0.95rem;
    color: #777;
    line-height: 1.5;
}